﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Automated Media</h1>
    <p class="lead">The most famous media site!</p>
    <p><a href="~/Users/Create" class="btn btn-primary btn-lg">Let's sign up! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Would like to create a topic?</h2>
        <p>
            Let's do it!

        </p>
        <p><a class="btn btn-default" href="~/Topics/Create">Click me! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Any comments?</h2>
        <p>
            Tell me about you comments!
        </p>
        <p><a class="btn btn-default" href="~/Comments/Create">Hello~ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Discussion Board</h2>
        <p>
            Trust me you will find a lot of interesting discussions!
        </p>
        <p><a class="btn btn-default" href="~/DiscussionBoards">Don't 'click me' &raquo;</a></p>
    </div>
</div>