﻿@model MilesoneThree.Models.DiscussionBoard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DiscussionBoard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment.CommentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment.CommentTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic.TopicTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.TopicTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscussionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscussionTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscussionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscussionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimePost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimePost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiscussionBoardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
