﻿@model IEnumerable<MilesoneThree.Models.DiscussionBoard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment.CommentTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.TopicTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscussionTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscussionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimePost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comment.CommentTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic.TopicTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscussionTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscussionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimePost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DiscussionBoardID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DiscussionBoardID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DiscussionBoardID })
        </td>
    </tr>
}

</table>
